/* line 8, ../sass/styles.scss */
html, body, ul, li, ol, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 14, ../sass/styles.scss */
body {
  font-family: "Verdana", sans-serif;
}

/* line 18, ../sass/styles.scss */
h2 {
  font-weight: normal;
}

/* line 22, ../sass/styles.scss */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* line 28, ../sass/styles.scss */
.restrict-width {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

/* line 36, ../sass/styles.scss */
.slide {
  height: 500px;
  position: relative;
  overflow: hidden;
}

/* line 42, ../sass/styles.scss */
.image-gallery-slide, .first-slide {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
}

/* line 47, ../sass/styles.scss */
.iphone {
  height: 400px;
}
/* line 49, ../sass/styles.scss */
.iphone img {
  height: 100%;
  width: auto;
}

/* line 56, ../sass/styles.scss */
.first-slide .iphone {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 63, ../sass/styles.scss */
.black-band {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}
/* line 69, ../sass/styles.scss */
.black-band p {
  color: white;
  margin: 0.5em 0 2em;
}
/* line 73, ../sass/styles.scss */
.black-band h2 {
  color: #ff3366;
  margin: 1em 0 0;
}
/* line 76, ../sass/styles.scss */
.black-band h2.yellow {
  color: #ffff33;
}

/* line 82, ../sass/styles.scss */
.icon {
  filter: alpha(opacity=83);
  opacity: 0.83;
}

/* line 87, ../sass/styles.scss */
.second-slide {
  background: url(../img/background-slide-2.png) no-repeat center center;
  background-size: cover;
}
/* line 90, ../sass/styles.scss */
.second-slide .iphone {
  position: absolute;
  bottom: 20px;
  z-index: 3;
}
/* line 95, ../sass/styles.scss */
.second-slide table {
  margin-left: 250px;
}
/* line 99, ../sass/styles.scss */
.second-slide table .icon {
  width: 50%;
}

/* line 106, ../sass/styles.scss */
.image-gallery-slide .restrict-width {
  z-index: 3;
}
/* line 109, ../sass/styles.scss */
.image-gallery-slide .iphone {
  position: absolute;
  right: 0;
  bottom: 20px;
}
/* line 115, ../sass/styles.scss */
.image-gallery-slide table {
  margin-right: 250px;
}
/* line 119, ../sass/styles.scss */
.image-gallery-slide table .icon {
  width: 50%;
}

/* line 125, ../sass/styles.scss */
.third-slide {
  background: url(../img/background-slide-3.png) no-repeat center top;
  background-size: cover;
}
/* line 128, ../sass/styles.scss */
.third-slide .iphone {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -95.5px;
  bottom: 20px;
}
/* line 135, ../sass/styles.scss */
.third-slide .icon {
  height: 50px;
}
/* line 138, ../sass/styles.scss */
.third-slide .iphone-padding {
  width: 250px;
}

/* line 143, ../sass/styles.scss */
.download-link {
  display: inline-block;
}

/* line 147, ../sass/styles.scss */
.last-slide-background {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
}

/* line 158, ../sass/styles.scss */
.last-slide {
  text-align: center;
}
/* line 160, ../sass/styles.scss */
.last-slide .restrict-width {
  display: table;
}
/* line 163, ../sass/styles.scss */
.last-slide .content {
  display: table-cell;
  vertical-align: middle;
}
/* line 167, ../sass/styles.scss */
.last-slide h2 {
  color: #ffff33;
  margin: 1em auto 0.5em;
}
/* line 171, ../sass/styles.scss */
.last-slide .download-link {
  margin-bottom: 2em;
}
/* line 174, ../sass/styles.scss */
.last-slide footer {
  margin: 2em auto;
}
/* line 177, ../sass/styles.scss */
.last-slide a {
  color: black;
  text-decoration: none;
}
/* line 181, ../sass/styles.scss */
.last-slide .social-icons {
  text-align: center;
  margin-bottom: 2em;
}
/* line 184, ../sass/styles.scss */
.last-slide .social-icons > a {
  display: inline-block;
  width: 3em;
}
/* line 187, ../sass/styles.scss */
.last-slide .social-icons > a img {
  width: 100%;
}

/* line 194, ../sass/styles.scss */
.slide-indicators {
  position: fixed;
  right: 3%;
  top: 50%;
  z-index: 5;
  margin-top: -95px;
}
/* line 204, ../sass/styles.scss */
.slide-indicators a {
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.83);
  margin: 20px 0;
}
/* line 212, ../sass/styles.scss */
.slide-indicators a.highlighted {
  background: rgba(255, 255, 255, 0.83);
}

/* line 3, ../sass/lightbox-styles.scss */
.lb-container {
  padding: 0;
}

/* line 6, ../sass/lightbox-styles.scss */
.lb-details {
  display: none;
}

/* line 9, ../sass/lightbox-styles.scss */
.lb-outerContainer, .lightbox .lb-image {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 13, ../sass/lightbox-styles.scss */
.gallery {
  background: black;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 20, ../sass/lightbox-styles.scss */
.gallery > a {
  display: block;
  width: 150px;
  height: 150px;
  margin: 5px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  overflow: hidden;
  float: left;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 0;
  position: relative;
}
/* line 34, ../sass/lightbox-styles.scss */
.gallery > a:hover {
  -webkit-box-shadow: 0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px white;
  z-index: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
