@-webkit-keyframes glow {
  /* line 2, ../scss/animation.scss */
  0% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  /* line 6, ../scss/animation.scss */
  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  /* line 10, ../scss/animation.scss */
  100% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
}

@keyframes glow {
  /* line 16, ../scss/animation.scss */
  0% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  /* line 20, ../scss/animation.scss */
  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  /* line 24, ../scss/animation.scss */
  100% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
}

/* line 9, ../scss/styles.scss */
html, body, ul, li, ol, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 15, ../scss/styles.scss */
body {
  font-family: 'Helvetica Neue', 'Lato', 'Verdana', sans-serif;
}

/* line 20, ../scss/styles.scss */
h2 {
  font-weight: normal;
}

/* line 25, ../scss/styles.scss */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* line 31, ../scss/styles.scss */
.restrict-width {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

/* line 39, ../scss/styles.scss */
.slide {
  height: 500px;
  position: relative;
  overflow: hidden;
}

/* line 45, ../scss/styles.scss */
.image-gallery-slide, .first-slide {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
}

/* line 50, ../scss/styles.scss */
.iphone {
  width: 200px;
  height: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 54, ../scss/styles.scss */
.iphone > img {
  height: auto;
  width: 100%;
}
/* line 58, ../scss/styles.scss */
.iphone .big-screen {
  width: 75%;
  height: 67.3%;
  top: 15.8%;
  left: 13.5%;
}
/* line 64, ../scss/styles.scss */
.iphone .screen {
  top: 14.7%;
  left: 8.5%;
  width: 85%;
  height: 71.5%;
}
/* line 70, ../scss/styles.scss */
.iphone .screen, .iphone .big-screen {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  background: black;
}
/* line 75, ../scss/styles.scss */
.iphone .screen img, .iphone .big-screen img {
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 84, ../scss/styles.scss */
.first-slide .bottom-bar {
  width: 100%;
  position: absolute;
  height: 3em;
  line-height: 3em;
  bottom: 0;
  left: 0;
  text-align: left;
}
/* line 92, ../scss/styles.scss */
.first-slide .bottom-bar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}
/* line 96, ../scss/styles.scss */
.first-slide .bottom-bar a:hover {
  text-decoration: underline;
}
/* line 101, ../scss/styles.scss */
.first-slide .iphone {
  position: absolute;
  right: 3%;
  height: auto;
  width: 35%;
  top: 50%;
  margin-top: -261.5px;
}
/* line 108, ../scss/styles.scss */
.first-slide .iphone > img {
  width: 100%;
  height: auto;
}
/* line 112, ../scss/styles.scss */
.first-slide .iphone .zag-icon {
  width: auto;
  position: absolute;
  z-index: 3;
  bottom: -23px;
  right: -21%;
}
/* line 119, ../scss/styles.scss */
.first-slide .iphone .play-button {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 90%;
  margin: -134.5px 2% 0 8%;
  z-index: 3;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
/* line 135, ../scss/styles.scss */
.first-slide .iphone .play-button img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
/* line 141, ../scss/styles.scss */
.first-slide .iphone .play-button:hover {
  filter: alpha(opacity=100) !important;
  opacity: 1!important;
}
/* line 147, ../scss/styles.scss */
.first-slide .restrict-width {
  display: table;
}
/* line 150, ../scss/styles.scss */
.first-slide h2 {
  color: white;
  margin: 0;
  font-size: 40px;
}
/* line 155, ../scss/styles.scss */
.first-slide .download-link {
  margin-top: 3em;
}
/* line 158, ../scss/styles.scss */
.first-slide .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-right: 38%;
}
/* line 163, ../scss/styles.scss */
.first-slide .content .logo {
  width: 85%;
  margin: -30px auto -36px;
}

/* line 170, ../scss/styles.scss */
.big-black-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12em;
  z-index: 2;
  background: #000;
  filter: alpha(opacity=75);
  opacity: 0.75;
  left: -100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 181, ../scss/styles.scss */
.big-black-band.sticky {
  position: fixed;
}
/* line 184, ../scss/styles.scss */
.big-black-band p {
  color: white;
  font-size: 1.2em;
  margin-top: 0.5em;
}
/* line 189, ../scss/styles.scss */
.big-black-band h2 {
  font-size: 2.1em;
  margin: 1em 0 0;
  color: #ff3366;
}
/* line 193, ../scss/styles.scss */
.big-black-band h2.yellow {
  color: #ffff33;
}
/* line 197, ../scss/styles.scss */
.big-black-band .icon {
  height: 6em;
  margin: 3em 1em;
}
/* line 201, ../scss/styles.scss */
.big-black-band .slide-2-text {
  width: 65%;
  left: 30%;
}
/* line 206, ../scss/styles.scss */
.big-black-band .slide-3-text, .big-black-band .slide-4-text {
  left: -100%;
}
/* line 209, ../scss/styles.scss */
.big-black-band .text-band {
  position: absolute;
  width: 65%;
}

/* line 216, ../scss/styles.scss */
.slide-2-text .icon {
  float: right;
}

/* line 221, ../scss/styles.scss */
.slide-3-text .left-half, .slide-3-text .right-half {
  width: 35%;
  margin: 0 2%;
}
/* line 225, ../scss/styles.scss */
.slide-3-text h2 {
  font-size: 2em;
}
/* line 228, ../scss/styles.scss */
.slide-3-text p {
  font-size: 1.05em;
}
/* line 231, ../scss/styles.scss */
.slide-3-text .icon {
  margin: 3em 0;
}
/* line 234, ../scss/styles.scss */
.slide-3-text .left-half {
  float: left;
  text-align: right;
}
/* line 237, ../scss/styles.scss */
.slide-3-text .left-half .icon {
  float: left;
}
/* line 241, ../scss/styles.scss */
.slide-3-text .right-half {
  float: right;
}
/* line 243, ../scss/styles.scss */
.slide-3-text .right-half .icon {
  float: right;
}

/* line 248, ../scss/styles.scss */
.slide-4-text {
  text-align: right;
  left: 5%;
}
/* line 251, ../scss/styles.scss */
.slide-4-text .icon {
  float: left;
}

/* line 255, ../scss/styles.scss */
.black-band {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}
/* line 261, ../scss/styles.scss */
.black-band p {
  color: white;
  margin: 0.5em 0 2em;
}
/* line 265, ../scss/styles.scss */
.black-band h2 {
  color: #ff3366;
  margin: 1em 0 0;
}
/* line 268, ../scss/styles.scss */
.black-band h2.yellow {
  color: #ffff33;
}

/* line 274, ../scss/styles.scss */
.icon {
  filter: alpha(opacity=83);
  opacity: 0.83;
}

/* line 279, ../scss/styles.scss */
.second-slide {
  background: url(../img/background-slide-2.png) no-repeat center center;
  background-size: cover;
}
/* line 282, ../scss/styles.scss */
.second-slide .iphone {
  position: absolute;
  bottom: 20px;
  z-index: 3;
  width: 30%;
}
/* line 288, ../scss/styles.scss */
.second-slide table {
  margin-left: 33%;
}
/* line 290, ../scss/styles.scss */
.second-slide table .icon {
  width: 85%;
}

/* line 296, ../scss/styles.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 304, ../scss/styles.scss */
.main-iphone {
  position: absolute;
  bottom: 20px;
  left: -100%;
  width: 27%;
  z-index: 3;
  max-width: 270px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: auto;
}
/* line 313, ../scss/styles.scss */
.main-iphone > img {
  height: auto;
  width: 100%;
}
/* line 317, ../scss/styles.scss */
.main-iphone.sticky {
  position: fixed;
}
/* line 320, ../scss/styles.scss */
.main-iphone .screen {
  position: absolute;
  top: 15.5%;
  left: 13.5%;
  width: 75%;
  height: 71.5%;
}
/* line 326, ../scss/styles.scss */
.main-iphone .screen img {
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 331, ../scss/styles.scss */
.main-iphone .screen.screen-3, .main-iphone .screen.screen-4 {
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 338, ../scss/styles.scss */
.image-gallery-slide {
  margin-bottom: 100%;
}
/* line 340, ../scss/styles.scss */
.image-gallery-slide .restrict-width {
  z-index: 3;
  pointer-events: none;
  position: relative;
}
/* line 345, ../scss/styles.scss */
.image-gallery-slide .iphone {
  position: absolute;
  right: 0;
  left: 70%;
  bottom: 20px;
  width: 30%;
}
/* line 352, ../scss/styles.scss */
.image-gallery-slide table {
  margin-right: 33%;
}
/* line 354, ../scss/styles.scss */
.image-gallery-slide table .icon {
  width: 85%;
}
/* line 358, ../scss/styles.scss */
.image-gallery-slide .restrict-width {
  width: 100%;
  max-width: 100%;
}

/* line 364, ../scss/styles.scss */
.third-slide {
  background: url(../img/background-slide-3.png) no-repeat center top;
  background-size: cover;
  z-index: 0;
}
/* line 368, ../scss/styles.scss */
.third-slide .iphone {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -95.5px;
  bottom: 20px;
  width: 30%;
}
/* line 376, ../scss/styles.scss */
.third-slide .icon {
  height: 50px;
}
/* line 379, ../scss/styles.scss */
.third-slide .iphone-padding {
  width: 30%;
}
/* line 383, ../scss/styles.scss */
.third-slide table.left {
  width: 50%;
  float: left;
  padding-right: 16.5%;
  text-align: right;
}
/* line 389, ../scss/styles.scss */
.third-slide table.right {
  width: 50%;
  float: right;
  padding-left: 16.5%;
}

/* line 397, ../scss/styles.scss */
.download-link {
  display: inline-block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 400, ../scss/styles.scss */
.download-link:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 404, ../scss/styles.scss */
.download-link img {
  width: 200px;
}

/* line 409, ../scss/styles.scss */
.last-slide-background {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
}

/* line 420, ../scss/styles.scss */
.last-slide {
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 425, ../scss/styles.scss */
.last-slide .restrict-width {
  display: table;
}
/* line 428, ../scss/styles.scss */
.last-slide .content {
  display: table-cell;
  vertical-align: middle;
}
/* line 432, ../scss/styles.scss */
.last-slide h2 {
  color: #ffff33;
  margin: 1em auto 0.5em;
}
/* line 436, ../scss/styles.scss */
.last-slide .download-link {
  margin-bottom: 2em;
}
/* line 439, ../scss/styles.scss */
.last-slide footer {
  margin: 2em auto;
}
/* line 442, ../scss/styles.scss */
.last-slide a {
  color: black;
  text-decoration: none;
}
/* line 445, ../scss/styles.scss */
.last-slide a:hover {
  text-decoration: underline;
}
/* line 449, ../scss/styles.scss */
.last-slide .social-icons {
  text-align: center;
  margin-bottom: 2em;
  z-index: 1;
}
/* line 453, ../scss/styles.scss */
.last-slide .social-icons > a {
  display: inline-block;
  width: 3em;
}
/* line 457, ../scss/styles.scss */
.last-slide .social-icons > a img {
  width: 100%;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
/* line 463, ../scss/styles.scss */
.last-slide .social-icons > a:hover img {
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 472, ../scss/styles.scss */
.slide-indicators {
  position: fixed;
  right: 3%;
  top: 50%;
  z-index: 5;
  margin-top: -95px;
}
/* line 482, ../scss/styles.scss */
.slide-indicators a {
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.83);
  margin: 20px 0;
}
/* line 490, ../scss/styles.scss */
.slide-indicators a.highlighted {
  background: rgba(255, 255, 255, 0.83);
}
/* line 493, ../scss/styles.scss */
.slide-indicators a:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
