@-webkit-keyframes glow {
  /* line 2, ../sass/animation.scss */
  0% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  /* line 6, ../sass/animation.scss */
  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  /* line 10, ../sass/animation.scss */
  100% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
}

@keyframes glow {
  /* line 16, ../sass/animation.scss */
  0% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  /* line 20, ../sass/animation.scss */
  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  /* line 24, ../sass/animation.scss */
  100% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
}

/* line 9, ../sass/styles.scss */
html, body, ul, li, ol, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 15, ../sass/styles.scss */
body {
  font-family: 'Helvetica Neue', 'Lato', 'Verdana', sans-serif;
}

/* line 19, ../sass/styles.scss */
h2 {
  font-weight: normal;
}

/* line 23, ../sass/styles.scss */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* line 29, ../sass/styles.scss */
.restrict-width {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

/* line 37, ../sass/styles.scss */
.slide {
  height: 500px;
  position: relative;
  overflow: hidden;
}

/* line 43, ../sass/styles.scss */
.image-gallery-slide, .first-slide {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
}

/* line 48, ../sass/styles.scss */
.iphone {
  width: 200px;
  height: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 52, ../sass/styles.scss */
.iphone > img {
  height: auto;
  width: 100%;
}
/* line 56, ../sass/styles.scss */
.iphone .big-screen {
  width: 85.2%;
  height: 71.3%;
  top: 14.7%;
  left: 8.5%;
}
/* line 62, ../sass/styles.scss */
.iphone .screen {
  top: 14.7%;
  left: 8.5%;
  width: 85%;
  height: 71.5%;
}
/* line 68, ../sass/styles.scss */
.iphone .screen, .iphone .big-screen {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  background: black;
}
/* line 73, ../sass/styles.scss */
.iphone .screen img, .iphone .big-screen img {
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 82, ../sass/styles.scss */
.first-slide .iphone {
  position: absolute;
  right: 3%;
  height: auto;
  width: 35%;
  top: 50%;
  margin-top: -261.5px;
}
/* line 89, ../sass/styles.scss */
.first-slide .iphone > img {
  width: 100%;
  height: auto;
}
/* line 93, ../sass/styles.scss */
.first-slide .iphone .play-button {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 3;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
/* line 108, ../sass/styles.scss */
.first-slide .iphone .play-button img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/* line 113, ../sass/styles.scss */
.first-slide .iphone .play-button:hover {
  filter: alpha(opacity=100) !important;
  opacity: 1!important;
}
/* line 119, ../sass/styles.scss */
.first-slide .restrict-width {
  display: table;
}
/* line 122, ../sass/styles.scss */
.first-slide h2 {
  color: white;
  margin: 0;
}
/* line 126, ../sass/styles.scss */
.first-slide .download-link {
  margin-top: 3em;
}
/* line 129, ../sass/styles.scss */
.first-slide .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-right: 38%;
}

/* line 137, ../sass/styles.scss */
.big-black-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12em;
  z-index: 2;
  background: #000;
  filter: alpha(opacity=75);
  opacity: 0.75;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 147, ../sass/styles.scss */
.big-black-band.sticky {
  position: fixed;
}
/* line 150, ../sass/styles.scss */
.big-black-band p {
  color: white;
  font-size: 1.2em;
  margin-top: 0.5em;
}
/* line 155, ../sass/styles.scss */
.big-black-band h2 {
  font-size: 2.1em;
  margin: 1em 0 0;
  color: #ff3366;
}
/* line 159, ../sass/styles.scss */
.big-black-band h2.yellow {
  color: #ffff33;
}
/* line 163, ../sass/styles.scss */
.big-black-band .icon {
  height: 6em;
  margin: 3em 1em;
}
/* line 167, ../sass/styles.scss */
.big-black-band .slide-2-text {
  width: 65%;
  left: 35%;
}
/* line 171, ../sass/styles.scss */
.big-black-band .slide-3-text, .big-black-band .slide-4-text {
  left: -100%;
}
/* line 174, ../sass/styles.scss */
.big-black-band .text-band {
  position: absolute;
  left: -100%;
  width: 65%;
}

/* line 181, ../sass/styles.scss */
.slide-2-text .icon {
  float: right;
}

/* line 186, ../sass/styles.scss */
.slide-3-text .left-half, .slide-3-text .right-half {
  width: 35%;
}
/* line 189, ../sass/styles.scss */
.slide-3-text h2 {
  font-size: 2em;
}
/* line 192, ../sass/styles.scss */
.slide-3-text p {
  font-size: 1.05em;
}
/* line 195, ../sass/styles.scss */
.slide-3-text .left-half {
  float: left;
  text-align: right;
}
/* line 198, ../sass/styles.scss */
.slide-3-text .left-half .icon {
  float: left;
}
/* line 202, ../sass/styles.scss */
.slide-3-text .right-half {
  float: right;
}
/* line 204, ../sass/styles.scss */
.slide-3-text .right-half .icon {
  float: right;
}

/* line 210, ../sass/styles.scss */
.slide-4-text .icon {
  float: left;
}

/* line 214, ../sass/styles.scss */
.black-band {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}
/* line 220, ../sass/styles.scss */
.black-band p {
  color: white;
  margin: 0.5em 0 2em;
}
/* line 224, ../sass/styles.scss */
.black-band h2 {
  color: #ff3366;
  margin: 1em 0 0;
}
/* line 227, ../sass/styles.scss */
.black-band h2.yellow {
  color: #ffff33;
}

/* line 233, ../sass/styles.scss */
.icon {
  filter: alpha(opacity=83);
  opacity: 0.83;
}

/* line 238, ../sass/styles.scss */
.second-slide {
  background: url(../img/background-slide-2.png) no-repeat center center;
  background-size: cover;
}
/* line 241, ../sass/styles.scss */
.second-slide .iphone {
  position: absolute;
  bottom: 20px;
  z-index: 3;
  width: 30%;
}
/* line 247, ../sass/styles.scss */
.second-slide table {
  margin-left: 33%;
}
/* line 249, ../sass/styles.scss */
.second-slide table .icon {
  width: 85%;
}

/* line 255, ../sass/styles.scss */
.main-iphone {
  position: absolute;
  bottom: 20px;
  left: 70%;
  left: -50%;
  width: 27%;
  max-width: 270px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: auto;
}
/* line 264, ../sass/styles.scss */
.main-iphone > img {
  height: auto;
  width: 100%;
}
/* line 268, ../sass/styles.scss */
.main-iphone.sticky {
  position: fixed;
}
/* line 271, ../sass/styles.scss */
.main-iphone .screen {
  position: absolute;
  top: 14.7%;
  left: 8.5%;
  width: 85%;
  height: 71.5%;
}
/* line 277, ../sass/styles.scss */
.main-iphone .screen img {
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 282, ../sass/styles.scss */
.main-iphone .screen.screen-3, .main-iphone .screen.screen-4 {
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 289, ../sass/styles.scss */
.image-gallery-slide {
  margin-bottom: 100%;
}
/* line 291, ../sass/styles.scss */
.image-gallery-slide .restrict-width {
  z-index: 3;
  pointer-events: none;
  position: relative;
}
/* line 296, ../sass/styles.scss */
.image-gallery-slide .iphone {
  position: absolute;
  right: 0;
  left: 70%;
  bottom: 20px;
  width: 30%;
}
/* line 303, ../sass/styles.scss */
.image-gallery-slide table {
  margin-right: 33%;
}
/* line 305, ../sass/styles.scss */
.image-gallery-slide table .icon {
  width: 85%;
}
/* line 309, ../sass/styles.scss */
.image-gallery-slide .restrict-width {
  width: 100%;
  max-width: 100%;
}

/* line 315, ../sass/styles.scss */
.third-slide {
  background: url(../img/background-slide-3.png) no-repeat center top;
  background-size: cover;
  z-index: 0;
}
/* line 319, ../sass/styles.scss */
.third-slide .iphone {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -95.5px;
  bottom: 20px;
  width: 30%;
}
/* line 327, ../sass/styles.scss */
.third-slide .icon {
  height: 50px;
}
/* line 330, ../sass/styles.scss */
.third-slide .iphone-padding {
  width: 30%;
}
/* line 334, ../sass/styles.scss */
.third-slide table.left {
  width: 50%;
  float: left;
  padding-right: 16.5%;
  text-align: right;
}
/* line 340, ../sass/styles.scss */
.third-slide table.right {
  width: 50%;
  float: right;
  padding-left: 16.5%;
}

/* line 348, ../sass/styles.scss */
.download-link {
  display: inline-block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 351, ../sass/styles.scss */
.download-link:hover {
  filter: alpha(opacity=90);
  opacity: 0.9;
}
/* line 356, ../sass/styles.scss */
.download-link img {
  width: 200px;
}

/* line 361, ../sass/styles.scss */
.last-slide-background {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
}

/* line 372, ../sass/styles.scss */
.last-slide {
  text-align: center;
  position: fixed;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 381, ../sass/styles.scss */
.last-slide .restrict-width {
  display: table;
}
/* line 384, ../sass/styles.scss */
.last-slide .content {
  display: table-cell;
  vertical-align: middle;
}
/* line 388, ../sass/styles.scss */
.last-slide h2 {
  color: #ffff33;
  margin: 1em auto 0.5em;
}
/* line 392, ../sass/styles.scss */
.last-slide .download-link {
  margin-bottom: 2em;
}
/* line 395, ../sass/styles.scss */
.last-slide footer {
  margin: 2em auto;
}
/* line 398, ../sass/styles.scss */
.last-slide a {
  color: black;
  text-decoration: none;
}
/* line 402, ../sass/styles.scss */
.last-slide .social-icons {
  text-align: center;
  margin-bottom: 2em;
}
/* line 405, ../sass/styles.scss */
.last-slide .social-icons > a {
  display: inline-block;
  width: 3em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 409, ../sass/styles.scss */
.last-slide .social-icons > a img {
  width: 100%;
}
/* line 412, ../sass/styles.scss */
.last-slide .social-icons > a:hover {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

/* line 420, ../sass/styles.scss */
.slide-indicators {
  position: fixed;
  right: 3%;
  top: 50%;
  z-index: 5;
  margin-top: -95px;
}
/* line 430, ../sass/styles.scss */
.slide-indicators a {
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.83);
  margin: 20px 0;
}
/* line 438, ../sass/styles.scss */
.slide-indicators a.highlighted {
  background: rgba(255, 255, 255, 0.83);
}
/* line 441, ../sass/styles.scss */
.slide-indicators a:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
