@-webkit-keyframes glow {
  /* line 2, ../sass/animation.scss */
  0% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  /* line 6, ../sass/animation.scss */
  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  /* line 10, ../sass/animation.scss */
  100% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
}

@keyframes glow {
  /* line 16, ../sass/animation.scss */
  0% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }

  /* line 20, ../sass/animation.scss */
  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  /* line 24, ../sass/animation.scss */
  100% {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
}

/* line 9, ../sass/styles.scss */
html, body, ul, li, ol, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 15, ../sass/styles.scss */
body {
  font-family: "Verdana", sans-serif;
}

/* line 19, ../sass/styles.scss */
h2 {
  font-weight: normal;
}

/* line 23, ../sass/styles.scss */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* line 29, ../sass/styles.scss */
.restrict-width {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

/* line 37, ../sass/styles.scss */
.slide {
  height: 500px;
  position: relative;
  overflow: hidden;
}

/* line 43, ../sass/styles.scss */
.image-gallery-slide, .first-slide {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
}

/* line 48, ../sass/styles.scss */
.iphone {
  width: 200px;
  height: auto;
}
/* line 51, ../sass/styles.scss */
.iphone > img {
  height: auto;
  width: 100%;
}
/* line 55, ../sass/styles.scss */
.iphone .big-screen {
  width: 85.2%;
  height: 71%;
  top: 14.7%;
  left: 8.5%;
}
/* line 61, ../sass/styles.scss */
.iphone .screen {
  top: 14.7%;
  left: 8.5%;
  width: 85%;
  height: 71.5%;
}
/* line 67, ../sass/styles.scss */
.iphone .screen, .iphone .big-screen {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  background: black;
}
/* line 72, ../sass/styles.scss */
.iphone .screen img, .iphone .big-screen img {
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 81, ../sass/styles.scss */
.first-slide .iphone {
  position: absolute;
  right: 3%;
  height: auto;
  width: 250px;
  top: 50%;
  margin-top: -261.5px;
}
/* line 88, ../sass/styles.scss */
.first-slide .iphone > img {
  width: 100%;
  height: auto;
}
/* line 92, ../sass/styles.scss */
.first-slide .iphone .play-button {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 3;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
/* line 107, ../sass/styles.scss */
.first-slide .iphone .play-button:hover {
  filter: alpha(opacity=100) !important;
  opacity: 1!important;
}
/* line 113, ../sass/styles.scss */
.first-slide .restrict-width {
  display: table;
}
/* line 116, ../sass/styles.scss */
.first-slide h2 {
  color: white;
  margin: 0;
}
/* line 120, ../sass/styles.scss */
.first-slide .download-link {
  margin-top: 3em;
}
/* line 123, ../sass/styles.scss */
.first-slide .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-right: 300px;
}

/* line 131, ../sass/styles.scss */
.black-band {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}
/* line 137, ../sass/styles.scss */
.black-band p {
  color: white;
  margin: 0.5em 0 2em;
}
/* line 141, ../sass/styles.scss */
.black-band h2 {
  color: #ff3366;
  margin: 1em 0 0;
}
/* line 144, ../sass/styles.scss */
.black-band h2.yellow {
  color: #ffff33;
}

/* line 150, ../sass/styles.scss */
.icon {
  filter: alpha(opacity=83);
  opacity: 0.83;
}

/* line 155, ../sass/styles.scss */
.second-slide {
  background: url(../img/background-slide-2.png) no-repeat center center;
  background-size: cover;
}
/* line 158, ../sass/styles.scss */
.second-slide .iphone {
  position: absolute;
  bottom: 20px;
  z-index: 3;
  width: 30%;
}
/* line 164, ../sass/styles.scss */
.second-slide table {
  margin-left: 33%;
}
/* line 166, ../sass/styles.scss */
.second-slide table .icon {
  width: 85%;
}

/* line 173, ../sass/styles.scss */
.image-gallery-slide .restrict-width {
  z-index: 3;
  pointer-events: none;
}
/* line 177, ../sass/styles.scss */
.image-gallery-slide .iphone {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 30%;
}
/* line 183, ../sass/styles.scss */
.image-gallery-slide table {
  margin-right: 33%;
}
/* line 185, ../sass/styles.scss */
.image-gallery-slide table .icon {
  width: 85%;
}

/* line 191, ../sass/styles.scss */
.third-slide {
  background: url(../img/background-slide-3.png) no-repeat center top;
  background-size: cover;
}
/* line 194, ../sass/styles.scss */
.third-slide .iphone {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -95.5px;
  bottom: 20px;
  width: 30%;
}
/* line 202, ../sass/styles.scss */
.third-slide .icon {
  height: 50px;
}
/* line 205, ../sass/styles.scss */
.third-slide .iphone-padding {
  width: 30%;
}
/* line 209, ../sass/styles.scss */
.third-slide table.left {
  width: 50%;
  float: left;
  padding-right: 16.5%;
  text-align: right;
}
/* line 215, ../sass/styles.scss */
.third-slide table.right {
  width: 50%;
  float: right;
  padding-left: 16.5%;
}

/* line 223, ../sass/styles.scss */
.download-link {
  display: inline-block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 226, ../sass/styles.scss */
.download-link:hover {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

/* line 233, ../sass/styles.scss */
.last-slide-background {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
}

/* line 244, ../sass/styles.scss */
.last-slide {
  text-align: center;
}
/* line 246, ../sass/styles.scss */
.last-slide .restrict-width {
  display: table;
}
/* line 249, ../sass/styles.scss */
.last-slide .content {
  display: table-cell;
  vertical-align: middle;
}
/* line 253, ../sass/styles.scss */
.last-slide h2 {
  color: #ffff33;
  margin: 1em auto 0.5em;
}
/* line 257, ../sass/styles.scss */
.last-slide .download-link {
  margin-bottom: 2em;
}
/* line 260, ../sass/styles.scss */
.last-slide footer {
  margin: 2em auto;
}
/* line 263, ../sass/styles.scss */
.last-slide a {
  color: black;
  text-decoration: none;
}
/* line 267, ../sass/styles.scss */
.last-slide .social-icons {
  text-align: center;
  margin-bottom: 2em;
}
/* line 270, ../sass/styles.scss */
.last-slide .social-icons > a {
  display: inline-block;
  width: 3em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 274, ../sass/styles.scss */
.last-slide .social-icons > a img {
  width: 100%;
}
/* line 277, ../sass/styles.scss */
.last-slide .social-icons > a:hover {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

/* line 285, ../sass/styles.scss */
.slide-indicators {
  position: fixed;
  right: 3%;
  top: 50%;
  z-index: 5;
  margin-top: -95px;
}
/* line 295, ../sass/styles.scss */
.slide-indicators a {
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.83);
  margin: 20px 0;
}
/* line 303, ../sass/styles.scss */
.slide-indicators a.highlighted {
  background: rgba(255, 255, 255, 0.83);
}
/* line 306, ../sass/styles.scss */
.slide-indicators a:hover {
  background: rgba(255, 255, 255, 0.4);
}
