@import "compass/css3";
@import "animation";

$white: #fff;
$black: #000;
$pink: #ff3366;
$yellow: #ffff33;

html, body, ul, li, ol, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Verdana", sans-serif;

}
h2 {
  font-weight: normal;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.restrict-width {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

.slide {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.image-gallery-slide, .first-slide {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
}

.iphone {
  height: 400px;
  &> img {
    height: 100%;
    width: auto;
  }
  .big-screen {
    width: 85.2%;
    height: 93.5%;
    top: 19.3%;
    left: 8.5%;
  }
  .screen {
    top: 59px;
    left: 16px;
    width: 163px;
    height: 286px;
  }
  .screen, .big-screen {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    background: $black;
    img {
      width: 100%;
      position: absolute;
      @include transition(all 0.4s);
    }
  }
}

.first-slide {
  .iphone {
    position: absolute;
    right: 3%;
    
    width: 250px;
    top: 50%;
    margin-top: -261.5px;
    &> img {
      width: 100%;
      height: auto;
    }
    .play-button {
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 3;
      filter: alpha(opacity=80);
      opacity: 0.8;
      @include transition(all 0.5s);
      -webkit-animation-name: glow;
      animation-name: glow;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: 3;
      animation-iteration-count: 3;
      &:hover {
        filter: alpha(opacity=100)!important;
        opacity: 1!important;
      }
    }
  }
  .restrict-width {
    display: table;
  }
  h2 {
    color: $white;
    margin: 0;
  }
  .download-link {
    margin-top: 3em;
  }
  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 300px;
  }
}

.black-band {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  background: rgba(0,0,0,0.9);
  p {
    color: $white;
    margin: 0.5em 0 2em;
  }
  h2 {
    color: $pink;
    margin: 1em 0 0;
    &.yellow {
      color: $yellow;
    }
  }
}

.icon {
  filter: alpha(opacity=83);
  opacity: 0.83;     
}

.second-slide {
  background: url(../img/background-slide-2.png) no-repeat center center;
  background-size: cover;
  .iphone {
    position: absolute;
    bottom: 20px;
    z-index: 3;
  }
  table {
    //width: 75%;
    //float: right;
    margin-left: 250px;
    .icon {
      width: 50%;
    }
  }
}

.image-gallery-slide {
  .restrict-width {
    z-index: 3;
    pointer-events: none;
  }
  .iphone {
    position: absolute;
    right: 0;
    bottom: 20px;
    
  }
  table {
    //width: 75%;
    //float: left;
    margin-right: 250px;
    .icon {
      width: 50%;
    }
  }
}

.third-slide {
  background: url(../img/background-slide-3.png) no-repeat center top;
  background-size: cover;
  .iphone {
    position: absolute;
    z-index: 3;
    left: 50%;
    margin-left: -95.5px;
    bottom: 20px;
  }
  .icon {
    height: 50px;
  }
  .iphone-padding {
    width: 250px;
  }
}

.download-link {
  display: inline-block;
}

.last-slide-background {
  background: url(../img/background-teal.png) no-repeat center center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;

}

.last-slide {
  text-align: center;
  .restrict-width {
    display: table;
  }
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  h2 {
    color: $yellow;
    margin: 1em auto 0.5em;
  }
  .download-link {
    margin-bottom: 2em;
  }
  footer {
    margin: 2em auto;
  }
  a {
    color: $black;
    text-decoration: none;
  }
  .social-icons {
    text-align: center;
    margin-bottom: 2em;
    &> a {
      display: inline-block;
      width: 3em;
      img {
        width: 100%;
      }
    }
  }
}

.slide-indicators {
  position: fixed;
  
  right: 3%;
  top: 50%;
  z-index: 5;
  margin-top: -95px;
  .dots {
    
  }
  a {
    display: block;
    @include transition(all 0.5s);
    width: 10px;
    height: 10px;
    @include border-radius(20px);
    border: 2px solid rgba(255,255,255,0.83);
    margin: 20px 0;
    &.highlighted {
      background: rgba(255,255,255,0.83);
    }
  }
}